@use "./base.scss";

// put your custom CSS here!

.section p {
    font-size: 1em;
    padding-right: 0rem;
    padding-top: 0.3rem;
    }

.section > .meta { /* 追加 */
    width: 120px; /* 例として200pxに設定、必要に応じて調整 */
    display: inline-block; /* またはblock, flexなど、適切な表示形式 */
    vertical-align: top;
    }

.section > .desc > h3{
    vertical-align: top;
    display: inline-block; 
    }

.section > .tags {
    white-space: nowrap; /* 追加: 改行を禁止 */
    display: inline-block; /* 追加: インラインブロックとして表示 */
    }

.section > .tags li { /* 追加 */
    font-size: 0.1em;
    }

tbody,
p {
    line-height: 2.7rem; // Increased from 1.8rem
}

li {
    line-height: 3.2rem; // Increased from 2.5rem
}